@import url("https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600");

/* ----------------------------------- GENERAL STYLES --------------------------------------*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	font-size: 16px;
}

h1 {
	font-size: 29px;
    color: #5a5a5b;
    font-weight: 600;
}

p {
	color: #707070;
	font-weight: 400;
	line-height: 1.65;
}

a {
    color: #53ADFE;
    transition: color .2s;
}

a:hover {
    color: rgb(0, 132, 247);
    text-decoration: none !important;
}

/* ----------------------------------- CONTAINER STYLES --------------------------------------*/

.main-container {
	background-color: #fcfcfc;
	min-height: 100vh;
}

.inner-container {
	background: #ffffff;
	box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.027);
	width: 904px;
}

/* ----------------------------------- COOLCHAT DETAILS STYLES --------------------------------------*/

.coolchat-details {
    background: #f5f5f5;
    padding: 60px 40px;
}

.logo {
	width: 180px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.coolchat-image {
    max-width: 100%;
    display: block;
	margin: 15px auto;
}

.coolchat-desc {
	margin-top: 35px;
}

/* ----------------------------------- LOGIN FORM STYLES --------------------------------------*/

.login-form-container {
    padding: 60px 40px;
}

.login-form {
    margin-top: 45px;
}
  
  .form-control {
    margin-bottom: 25px;
  }

  .login-form input[type = "text"] , .login-form input[type="password"] {
    width: 100%;
    padding: 15px 12px;
    color: black;
    font-size: 18px;
    font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: #FCFCFC;
    font-weight: 400;
  }
  
  .input-with-icon {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  
  .login-form label {
    margin-bottom: 10px;
    color:#5E5E5E;
    font-weight: 400;;
  }

  .form-extras {
      font-size: 15px;
      margin: 20px 0px;
  }

 .form-extras div {
     flex: 1;
 }

 .login-form button {
     background: #53ADFE;
     padding : 12px 10px;
     border: none;
     font-weight: 600;
     font-size: 20px;
     display: block;
     width: 100%;
     cursor: pointer;
     color: white;
     transition: .3s background;
 }

 .login-form button:hover {
    background: rgb(0, 132, 247);
 }






